<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
<div class="menu-inner-shadow"></div>
<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text"></span></li>
    <li class="menu-item " >
    <a href="/dashboard" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-circle"></i>
        <div data-i18n="Analytics">Dashboard</div>
    </a>

    
    <!-- Components -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">Notices</span></li>
    <!-- Cards -->
    <li class="menu-item">
    <a href="/newnotice" class="menu-link">
        <i class="menu-icon tf-icons bx bx-detail"></i>
        <div data-i18n="Basic">New Notice</div>
    </a>
    </li>
    <li class="menu-item">
    <a href="/allnotices" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Basic">All Notices</div>
    </a>
    </li>

    <!-- Components -->
    <li class="menu-header small text-uppercase"><span class="menu-header-text">News</span></li>
    <!-- Cards -->
    <li class="menu-item ">
    <a href="/newnews" class="menu-link">
        <i class="menu-icon tf-icons bx bx-file"></i>
        <div data-i18n="Basic">New News</div>
    </a>
    </li>
    <li class="menu-item active">
    <a href="/allnews" class="menu-link">
        <i class="menu-icon tf-icons bx bx-table"></i>
        <div data-i18n="Basic">All News</div>
    </a>
    </li>
</ul>
</aside>